<section class="banner js-scroll">
  <p>
    <span id="banner-typed-text"></span>
  </p>
  <div class="row justify-content-center py-5">
    <% unless user_signed_in? %>
    <%= link_to "CADASTRE-SE", new_user_registration_path,  class: "btn-principal"  %>
    <% else %>
    <% if current_user.role == "Project Owner" %>
    <%= link_to "GO TO DEVELOPERS", developers_path,  class: "btn-principal"  %>
    <% else %>
    <%= link_to "PROJECTS", projects_path,  class: "btn-principal"  %>
    <% end %>
    <% end %>
  </div>
</section>
<section class="container-fluid section-valores js-scroll">
  <div class="row">
    <div class="col-6">
      <div class="infos">
        <h2 class="mb-5">Easy-to-Access Developers In Your Region</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deserunt libero minima quia aspernatur
          eligendi soluta.</p>
        <a href="btn btn-principal"></a>
      </div>
    </div>
    <div class="col-6">
      <img src="https://picsum.photos/id/1/600/500" alt="Develuper" class="img-responsive">
    </div>
  </div>
</section>
<section class="container section-depoimentos pt-5 js-scroll">
  <div class="row justify-content-center">
    <div class="col-7 text-center">
      <h3>Depoimentos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quos. Et quia error vel, ducimus incidunt ea
        modi officiis veritatis aut eos.</p>
    </div>
  </div>
  <div class="row justify-content-center py-5 js-scroll">
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
  </div>
</section>
<footer class="container-fluid p-5">
  <div class="row justify-content-center">
    <ul class="navbar nav-footer">
      <li>About</li>
      <li class="logo">Devel<span>Uper</span></li>
      <li>Contact</li>
    </ul>
  </div>
  <hr>
  <div class="row justify-content-center">
    <ul class="social-network">
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-github"></i></li>
    </ul>
  </div>
</footer>