<section class="banner">


<div class="row justify-content-center py-5">
          <%= link_to "CADASTRE-SE", new_user_registration_path,  class: "btn-principal"  %>
</div>



</section>
<section class="container-fluid section-valores">
  <div class="row">
    <div class="col-6">
      <div class="infos">
        <h2 class="mb-5">Desenvolvedores de fácil acesso na sua região</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deserunt libero minima quia aspernatur
          eligendi soluta.</p>
        <a href="btn btn-principal"></a>
      </div>
    </div>
    <div class="col-6">
      <img src="https://picsum.photos/id/1/600/500" alt="Develuper" class="img-responsive">
    </div>
  </div>
</section>
<section class="container section-depoimentos pt-5">
  <div class="row justify-content-center">
    <div class="col-7 text-center">
      <h3>Depoimentos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quos. Et quia error vel, ducimus incidunt ea
        modi officiis veritatis aut eos.</p>
    </div>
  </div>
  <div class="row justify-content-center py-5">
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
    <div class="col-3 text-center">
      <img src="https://picsum.photos/id/237/150/150" alt="" class="avatar">
    </div>
  </div>
</section>
