.banner{
  align-items: center;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%), url('https://picsum.photos/id/180/900/700');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  p {
    color: #fff;
    font-size: 3rem;
  }
}