.btn-principal {
  background-color: $principal;
  border: 2px solid $principal;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 8px 25px;
  transition: .3s;
  text-transform: capitalize;

  &:hover{
    color: $principal;
    background-color: #fff;
    text-decoration: none;
  }
}

.btn-secundario {
  background-color: $secundario;
  border: 2px solid $secundario;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 8px 25px;
  transition: .3s;
  text-transform: capitalize;

  &:hover {
    color: $secundario;
    background-color: #fff;
    text-decoration: none;
  }
}

.btn-projeto{
  position: fixed;
  right: 20px;
  bottom: 20px;
  animation: pulse 0.9s infinite;
  display: table;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  text-transform: uppercase;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(50%);
  }

  100% {
    transform: scale(1.05);
    filter: brightness(100%);
  }
}