.card-projetos {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: .3s;

  &:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 185px;
    padding: 1.25rem;
    max-height: 185px;
  }

  .card-footer {
    background-color: $principal;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
    
    &:hover{
      background-color: $secundario;
    }
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;

    a{
      text-decoration: none;
    }
  }

  a{
    color: #fff;
  }
}

.card-user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  border: none;
  border-radius: 31px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  .avatar {
    width: 80px;
    height: 80px;
  }
}