footer{
  background-color: rgba(0, 0, 0, 0.9);
  // position: absolute;
  // top: 100%;
  width: 100%;
  
  hr {
    background-color: rgba(255, 255, 255, 0.575);
    height: 1px;
  }
}

.nav-footer {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 75%;

  li{
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    text-align: center;
    transition: .3s;
    // font-weight: 500;
    &:hover{
      color: #fff;
      cursor: pointer;
    }
  }

  .logo{
    font-size: 1.4rem;
  }

  span{
    text-transform: capitalize;
    color: $principal;
  }
}

.social-network{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 30%;

  a{
    // color: $principal;
    color: darken($principal, 30%);
    transition: .3s;
    
    &:hover {
      color: $principal;
      cursor: pointer;
    }
  }

  i{
    font-size: 40px;
    
  }
}