.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map{
  width: 100%;
  height: calc(100vh - 57px);
  position: sticky
}

@media(max-width:800px){
  #map {
    position: relative;
    height: 50vh;
  }
}

.form-mapa{
  form{
    display: flex;

    .form-control{
      padding: 1.5rem 20px;
    }
  }
}

@media(max-width:500px) {
  #map {
    position: relative;
    height: 50vh;
  }

  .form-mapa {
    form {
      display: flex;
  
      .form-control {
        padding: 1.5rem 20px;
      }
    }
  }
}



